.favorite
	position: relative
	padding: 88px 0 126px 0
	background: linear-gradient(to right, $primary 0% 382px, #F2F2F2 382px 100%)
	overflow: hidden
	&::after, &::before
		content: " "
		position: absolute
		right: 0px
		top: 0px
		width: 100px
		height: 100%
		background-color:  #F2F2F2
		opacity: .8
	&::before
		left: 0px
		background-color:  $primary
		z-index: 1
	.slider_favorite
		.slide
			margin-bottom: -30px